<app-navbar></app-navbar>
<div class="content">
  <div class="profile-data">
    <h1>személyes adatok, önéletrajz</h1>
    <div class="personal">
      <h2>Név változtatása</h2>
      <div class="form">
        <div class="row">
          <mat-form-field style="width: 100%;">
            <mat-label>Teljes név</mat-label>
            <input type="text" matInput #ujnev>
          </mat-form-field>
        </div>
        <button matTooltip="Név felülírása" color="primary" mat-raised-button (click)="updateName(ujnev.value)">Mentés</button>
      </div>
    </div>
  </div>
  <div class="cv-data">
    <div class="cv">
      <h2>Végzettség</h2>
      <button class="add-item" (click)="this.showNewEducation = true"><i class="fa-solid fa-circle-plus"></i></button>
      <div id="popup" *ngIf="showNewEducation">
        <div class="popup-content">
          <div class="close" (click)="showNewEducation = false;">&#x2715;</div>
          <h2>képzettség</h2>
          <form [formGroup]="qualificationForm" (ngSubmit)="onSubmitQualification()">
            <div class="input-box">
              <label>végzettség típusa</label>
              <div class="icon">
                <i class="fa-solid fa-landmark"></i>
              </div>
              <select formControlName="type">
                <option>Általános iskola</option>
                <option>Szakiskola / szakmunkás képző</option>
                <option>Középiskola</option>
                <option>Főiskolai diploma</option>
                <option>Egyetemi diploma</option>
                <option>Állami rendszerű egyéb képzés</option>
                <option>Állami rendszerű, nem diplomás szakképzés</option>
                <option>Coaching</option>
                <option>OKJ-rendszerű tanfolyam</option>
                <option>Tanfolyam</option>
                <option>Tréning</option>
              </select>
            </div>
            <div class="input-box">
              <label>végzettség neve</label>
              <div class="icon">
                <i class="fa-solid fa-signal"></i>
              </div>
              <input matInput type="text" formControlName="name">
            </div>
            <button type="submit">Mentés</button>
          </form>
        </div>
      </div>
      <div class="educations">
        <div class="education" *ngFor="let item of qualifications">
          <h2><i class="fa-solid fa-circle"></i>{{item.name}} <i class="fa fa-trash" style="color: red; margin-left: 5px; font-size: 10pt; cursor: pointer;" (click)="data.deleteQualification(item)"></i></h2>
          <p>{{item.type}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
