<app-navbar></app-navbar>
<div class="content">
  <div class="profile-data">
    <h1>személyes adatok, önéletrajz</h1>
    <div class="personal">
      <h2>Név változtatása</h2>
      <div class="form">
        <div class="row">
          <mat-form-field style="width: 100%;">
            <mat-label>Teljes név</mat-label>
            <input type="text" matInput #ujnev>
          </mat-form-field>
        </div>
        <button matTooltip="Név felülírása" color="primary" mat-raised-button (click)="updateName(ujnev.value)">Mentés</button>
      </div>
    </div>
  </div>
  <div class="cv-data">
    <div class="cv">
      <h2>Tapasztalat</h2>
      <button class="add-item" (click)="this.showNewExperience = true"><i class="fa-solid fa-circle-plus"></i></button>
      <div id="popup" *ngIf="showNewExperience">
        <div class="popup-content">
          <div class="close" (click)="showNewExperience = false;">&#x2715;</div>
          <h2>tapasztalat</h2>
          <div class="form">
            <div class="input-box">
              <label>munkakör megnevezése</label>
              <div class="icon">
                <i class="fa-solid fa-briefcase"></i>
              </div>
              <input type="text" list="munkakorok" #munkakor>
            </div>
            <div class="input-box">
              <label>évek</label>
              <div class="icon">
                <i class="fa-solid fa-clock"></i>
              </div>
              <input type="text" #ido>
            </div>
            <div class="row">

            </div>
            <button>Mentés</button>
          </div>
        </div>
      </div>
      <div class="experiences">
        <div class="experience" *ngFor="let item of []">
          <h2><i class="fa-solid fa-circle"></i>{{item[0]}}</h2>
          <p>{{item[1]}}</p>
          <div class="date">
            {{item[2]}} - {{item[3]}}
          </div>
        </div>
      </div>
    </div>
    <div class="cv">
      <h2>Végzettség</h2>
      <button class="add-item" (click)="this.showNewEducation = true"><i class="fa-solid fa-circle-plus"></i></button>
      <div id="popup" *ngIf="showNewEducation">
        <div class="popup-content">
          <div class="close" (click)="showNewEducation = false;">&#x2715;</div>
          <h2>képzettség</h2>
          <div class="form">
            <div class="input-box">
              <label>végzettség típusa</label>
              <div class="icon">
                <i class="fa-solid fa-landmark"></i>
              </div>
              <select #tipus>
                <option selected>Végzettség típusa</option>
                <option>Általános iskola</option>
                <option>Szakiskola / szakmunkás képző</option>
                <option>Középiskola</option>
                <option>Főiskola</option>
                <option>Egyetem</option>
                <option>Állami rendszerű egyéb képzés</option>
                <option>Állami rendszerű, nem diplomás szakképzés</option>
                <option>Coaching</option>
                <option>OKJ-rendszerű tanfolyam</option>
                <option>Tanfolyam</option>
                <option>Tréning</option>
              </select>
            </div>
            <div class="input-box">
              <label>végzettség neve</label>
              <div class="icon">
                <i class="fa-solid fa-signal"></i>
              </div>
              <input matInput type="text" #nev>
            </div>
            <button>Mentés</button>
          </div>
        </div>
      </div>
      <div class="educations">
        <div class="education">
          <h2><i class="fa-solid fa-circle"></i>0</h2>
          <p>1</p>
          <div class="date">
            2
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
