<app-navbar></app-navbar>
<div class="content">
  <div class="create-job">
    <h1>állás létrehozása</h1>
    <div class="job-data">
      <h2>adatok</h2>
      <div class="form">
        <div class="row">
          <div class="input-box">
            <label>munkakör megnevezése</label>
            <input type="text" list="munkakorok" #allas>
          </div>
        </div>
        <div class="input-box">
          <label>leírás</label>
          <textarea rows="5" #leiras></textarea>
        </div>
        <button>Állás létrehozása</button>
      </div>
    </div>
  </div>
</div>
