:root {
  --main-color: #394357;
  --second-color: #485597;
  --hover-color: #5c69a9;
  --button-color: #2a3346;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #f2f3f7;
}

.bold {
  font-weight: bold;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
